<div style="margin-top: 10%;"class="container-fluid">
    <div class="row">
    <div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <div class="font-type" style="text-align: center;">
            Forgot Password
            </div>
        </div>
        <div class="card-body">
            <form  >
                <div class="form-group">
                    <label for="resetPasswordEmail" class="font-type">User Email</label>
                    <input type="email" name="email" required  class="form-control" id="email"
                        placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary btn-md">Get OTP</button>
                <br>
                <br>
                <div class="form-group">
                    <label class="font-type"for="resetPasswordEmail">Enter OTP</label>
                    <input type="text" name="otp" required 
                        class="form-control form-control-md" id="resetPasswordEmail" placeholder="Enter received OTP">
                </div>
                <button type="submit"  class="btn btn-primary btn-md">Verify
                    OTP</button>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    <footer>
        <div style="margin-top: 20px;" class="card">
          <div class= "card" style="background-color:burlywood;height: 120px;">
            <div style="text-align: center;font-family: sans-serif;padding-top: 20px;"><strong> © 2009 - 2021 LFI. All Rights Reserved. LFI® is a registered
              trademark.</strong></div><br>
            <div style="text-align: center;font-family: sans-serif;"><strong> by LFI | WordPress hosting by L&T | WordPress CDN by L&T Group</strong> </div>
          </div>
        </div>
      </footer>
    